---
import { routes } from 'src/config/routes.config';

const { contact } = routes

interface Props {
  reverse?: boolean;
  img: string;
  alt: string;
  titleId: string
  title: string;
  text :string;
}

const { reverse, img, alt, titleId, title, text } = Astro.props as Props
---

<article class=`service-card ${reverse ? "reverse" : ""}` aria-labelledby={titleId}>
  <figure class="service-card-fig">
    <img src={img} alt={alt} title={alt}>
  </figure>
  <article class="service-card-info">
    <h2 class="service-card-title capital" id={titleId}>
      {title}
    </h2>
    <p class="service-card-text">{text}</p>
    <a class="service-card-btn capital" href={contact.href} title="Get a quote for this service">
      get a quote
    </a>
  </article>
</article>