---
interface Props {
  reverse?: string;
  dataAos: string;
  img: string;
  alt: string;
  title: string;
  text :string;
}

const { reverse, dataAos, img, alt, title, text } = Astro.props
---

<div class=`service-card ${reverse}`>
  <figure class="service-card-fig" data-aos={dataAos} data-aos-duration="1500">
    <img src={img} alt={alt}>
  </figure>
  <div class="service-card-info" data-aos="fade-up" data-aos-duration="2000">
    <h2 class="service-card-title capital">{title}</h2>
    <p class="service-card-text">{text}</p>
    <a class="service-card-btn capital" href="/Contact">get a quote</a>
  </div>
</div>