---
import { siteConfig } from "src/config/site.config"

const { business } = siteConfig
---

<section class="about-intro-wrapper">
  <article class="about-intro" aria-labelledby="about-title">
    <h2 class="about-title" id="about-title">
      More About Us
    </h2>
    <p class="about-text">
      At <strong>{business.name}</strong>, based in the heart of <em>{business.city}</em>, <em>{business.state}</em>, we take pride in being a premier provider of high-quality landscaping services. From design and installation to ongoing maintenance, irrigation systems, and seasonal snow removal, we cater to a wide range of clients, including residential homeowners, commercial enterprises, retail spaces, and hospitality venues.
    </p>
    <figure class="about-intro-fig about-fig-1">
      <img
        src="/images/about/about-intro.webp"
        alt="Delightful front yard garden design"
        title="Delightful front yard garden design"
      >
    </figure>
    <p class="about-text">
      Our team is passionate about transforming outdoor spaces into vibrant, functional landscapes that stand the test of time. We specialize in working with clients who value craftsmanship, attention to detail, and personalized service. Whether you're a local family looking to create a beautiful backyard oasis, a second-home owner in need of regular upkeep, or a business owner wanting to maintain a pristine exterior, we have the skills and experience to exceed your expectations.
    </p>
    <p class="about-text">
      At <strong>{business.name}</strong>, we believe that landscaping is an art form, and we're committed to delivering work that reflects both your vision and our dedication to quality. Let us bring your outdoor dreams to life with integrity, creativity, and a deep appreciation for aesthetics. No matter the season or the scope of your project, we're here to help you create and maintain a landscape you'll love for years to come.
    </p>
    <figure class="about-intro-fig about-fig-2">
      <img
        src="/images/about/about-intro-2.webp"
        alt="Breath-taking backyard garden design"
        title="Breath-taking backyard garden design"
      >
    </figure>
    <p class="about-text">
      Beyond our core services, we are dedicated to building lasting relationships with our clients, grounded in trust and open communication. We take the time to understand your unique needs, tailoring our solutions to match your lifestyle and preferences. Whether you require a complete landscape overhaul or routine maintenance, our goal is to deliver results that not only meet but surpass your expectations. With <strong>{business.name}</strong>, your outdoor space will flourish, and so will your peace of mind.
    </p>
    <p class="about-text">
      In addition to our expertise in traditional landscaping, we embrace sustainable practices that help preserve the natural beauty of <em>City Name</em>'s' unique environment. Our eco-conscious solutions include water-efficient irrigation systems, native plant installations, and organic lawn care techniques. We are committed to promoting environmental stewardship, ensuring that your landscape not only looks stunning but also contributes to a healthier, more sustainable future for generations to come.
    </p>
  </article>
</section>