---
import { siFacebook, siInstagram, siYoutube } from 'simple-icons'
import { siteConfig } from 'src/config/site.config'

const { business, socials } = siteConfig
---

<section class="social-media-wrapper" aria-label="Social media links section">
  <!-- Facebook -->
  <a
    href={socials.facebook}
    class="social-media-link"
    title={`${business.name}'s Facebook account`}
    target="_blank"
    rel="noreferrer noopener"
    aria-label={`Button for going to ${business.name}'s Facebook account`}
  >
    <div class="social-icon" set:html={siFacebook.svg}></div>
  </a>
  <!-- Instagram -->
  <a
    href={socials.instagram}
    class="social-media-link"
    title={`${business.name}'s Instagram account`}
    target="_blank"
    rel="noreferrer noopener"
    aria-label={`Button for going to ${business.name}'s Instagram account`}
  >
    <div class="social-icon" set:html={siInstagram.svg}></div>
  </a>
  <!-- YouTube -->
  <a
    href={socials.youtube}
    class="social-media-link"
    title={`${business.name}'s YouTube channel`}
    target="_blank"
    rel="noreferrer noopener"
    aria-label={`Button for going to ${business.name}'s YouTube channel`}
  >
    <div class="social-icon" set:html={siYoutube.svg}></div>
  </a>
</section>