---
interface Props {
  img1: string;
  alt1: string;
  titleId1: string;
  title1: string;
  text1: string;
  img2: string;
  alt2: string;
  titleId2: string;
  title2: string;
  text2: string;
}

const { img1, alt1, titleId1, title1, text1, img2, alt2, titleId2, title2, text2 } = Astro.props as Props
---

<article class="work-cards-wrapper over-x">
  <article
    class="work-cards-card"
    aria-labelledby={titleId1}
  >
    <figure class="work-cards-figure">
      <img src={img1} alt={alt1} title={alt1}>
    </figure>
    <h3 class="work-cards-title capital" id={titleId1}>
      {title1}
    </h3>
    <p class="work-cards-text">{text1}</p>
  </article>
  <article
    class="work-cards-card"
    aria-labelledby={titleId2}
  >
    <figure class="work-cards-figure">
      <img src={img2} alt={alt2} title={alt2}>
    </figure>
    <h3 class="work-cards-title capital" id={titleId2}>
      {title2}
    </h3>
    <p class="work-cards-text">{text2}</p>
  </article>
</article>