---
import SEO from '@components/SEO.astro';
import '../css/styles.css'
import 'aos/dist/aos.css';

interface Props {
  title?: string;
  description?: string;
  keywords?: string[];
  ogImage?: string;
  noindex?: boolean;
	nofollow?: boolean;
  structuredDataType?: 'WebPage' | 'ContactPage' | 'CollectionPage' | 'AboutPage';
}

const { 
  title, 
  description, 
  keywords, 
  ogImage, 
  noindex,
	nofollow,
  structuredDataType 
} = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<SEO
			title={title}
			description={description}
			keywords={keywords}
			ogImage={ogImage}
			noindex={noindex}
			structuredDataType={structuredDataType}
		/>
	</head>
	<body id="body">
		<slot />
		<script src="../utils/hamMenu.ts"></script>
		<script> 
			import AOS from "aos";
			AOS.init(); 
		</script>
	</body>
</html>
